# ONE-WAY ANOVA WITH PYTHON

In [1]:
import pandas as pd
import researchpy as rp

In [2]:
data = pd.read_csv('Kalpana_ANOVA_Data.csv')

FileNotFoundError: [Errno 2] File Kalpana_ANOVA_Data.csv does not exist: 'Kalpana_ANOVA_Data.csv'

In [3]:
# Trouble shoot finding the input data

In [4]:
import os

In [45]:
cwd = os.getcwd() # Get the current working directory (cwd)
cwd

'C:\\Users\\anjir\\Desktop\\Kalpana_ANOVA_Data'

In [46]:
files = os.listdir(cwd)
files

['.ipynb_checkpoints',
 'Kalpana_data.csv',
 'One_way_ANOVA.ipynb',
 'Rice_Station_Data_Extraction_Non_Uniform_Filtered.csv',
 'Rice_Station_Data_Extraction_Non_Uniform_Filtered.xls',
 'Rice_Station_Data_Extraction_Non_Uniform_Filtered.xlsx']

In [8]:
## Found Proper input file, so i am importing it

In [47]:
data = pd.read_csv('Kalpana_data.csv')

In [48]:
# Get 1st 5 rows of data
data.head()

,Planting date,Software,Location,Date,DOY,Altitude (m),Stage-Full,Stage,Plot_ID,Replicate,...,RVI,TVI,CVI,NDVI,DVI,Soy_yiled(bu/acre),Observed data,Days after planting,Canopy Height (cm),LAI
0,NaN,Pix4d,Rice_Station,1/22/2021,22,120,NaN,NaN,101,1,...,1.236684,2.960273,1.712160,0.105216,0.041239,66.73,NaN,NaN,NaN,NaN
1,NaN,Pix4d,Rice_Station,1/22/2021,22,120,NaN,NaN,102,1,...,1.229085,2.904267,1.694055,0.102217,0.038293,54.65,NaN,NaN,NaN,NaN
2,NaN,Pix4d,Rice_Station,1/22/2021,22,120,NaN,NaN,103,1,...,1.200309,2.315448,1.665547,0.090710,0.033462,56.88,NaN,NaN,NaN,NaN
3,NaN,Pix4d,Rice_Station,1/22/2021,22,120,NaN,NaN,104,1,...,1.252164,3.167063,1.749084,0.111270,0.038114,56.05,NaN,NaN,NaN,NaN
4,NaN,Pix4d,Rice_Station,1/22/2021,22,120,NaN,NaN,105,1,...,1.171546,1.422839,1.660871,0.078602,0.026899,51.59,NaN,NaN,NaN,NaN

In [49]:
data.columns

Index(['Planting date', 'Software', 'Location', 'Date', 'DOY', 'Altitude (m)',
       'Stage-Full', 'Stage', 'Plot_ID', 'Replicate', 'Zone',
       'Zone_Identification', 'Cover_Crop_Variety',
       'Treatment_2__Cut_Fill_Range', 'One_Mix_None_Cover_Crop', 'Thermal',
       'NDWI', 'EVI', 'NAVI', 'GNDVI', 'Cigreen', 'RENDVI', 'TGI', 'SAVI',
       'CI_RedEdge', 'BI', 'SCI', 'GLI', 'NGRDI_Zonal', 'SI', 'VARI', 'HUE',
       'BGI', 'PSRI', 'RVI', 'TVI', 'CVI', 'NDVI', 'DVI', 'Soy_yiled(bu/acre)',
       'Observed data', 'Days after planting', 'Canopy Height (cm)', 'LAI'],
      dtype='object')

In [50]:
slice_data = data[['Replicate','Zone_Identification', 'Cover_Crop_Variety','NDWI', 'EVI', 'NAVI', 'GNDVI', 'Cigreen', 'RENDVI', 'TGI', 'SAVI',
       'CI_RedEdge', 'BI', 'SCI', 'GLI', 'NGRDI_Zonal', 'SI', 'VARI', 'HUE',
       'BGI', 'PSRI', 'RVI', 'TVI', 'CVI', 'NDVI', 'DVI', 'Soy_yiled(bu/acre)']]
slice_data.head()

,Replicate,Zone_Identification,Cover_Crop_Variety,NDWI,EVI,NAVI,GNDVI,Cigreen,RENDVI,TGI,...,VARI,HUE,BGI,PSRI,RVI,TVI,CVI,NDVI,DVI,Soy_yiled(bu/acre)
0,1,"12"""" Cut",Triticale (TR),-0.184036,0.115173,0.189628,0.184036,0.454413,0.048335,2.491183,...,-0.123967,0.001565,0.765767,0.132600,1.236684,2.960273,1.712160,0.105216,0.041239,66.73
1,1,"12"""" Cut",Cereal Rye+ Black Oat+ Triticale (CR+BO+TR),-0.180077,0.113556,0.184759,0.180077,0.442328,0.043734,2.593134,...,-0.122405,0.001630,0.765593,0.130579,1.229085,2.904267,1.694055,0.102217,0.038293,54.65
2,1,"12"""" Cut",Black Oat (BO),-0.170547,0.101767,0.165882,0.170547,0.413386,0.037456,2.643563,...,-0.124985,0.001800,0.765344,0.134701,1.200309,2.315448,1.665547,0.090710,0.033462,56.88
3,1,"12"""" Cut",Cereal Rye+ Crimson Clover+ Kale (CR+CC+KA),-0.192279,0.119973,0.199392,0.192279,0.479366,0.044786,2.429277,...,-0.127238,0.001557,0.762464,0.133726,1.252164,3.167063,1.749084,0.111270,0.038114,56.05
4,1,"12"""" Cut",NC,-0.163843,0.084100,0.145183,0.163843,0.394377,0.032093,2.440546,...,-0.132432,0.001773,0.762492,0.144659,1.171546,1.422839,1.660871,0.078602,0.026899,51.59

In [ ]:
# Summary stats of dependent variable: NAVI

In [21]:
rp.summary_cont(data['NAVI'])

  Variable       N    Mean      SD     SE  95% Conf.  Interval
0     NAVI  1920.0  0.6034  0.3056  0.007     0.5897    0.6171

In [22]:
# Summary stats of dependent variable: NAVI for each zone_identification level

In [20]:
rp.summary_cont(data['NAVI'].groupby(data['Zone_Identification']))

                       N    Mean      SD      SE  95% Conf.  Interval
Zone_Identification
12"" Cut             384  0.4770  0.2842  0.0145     0.4485    0.5056
12"" Fill            384  0.6550  0.2929  0.0149     0.6256    0.6844
6"" Cut              384  0.5551  0.3298  0.0168     0.5220    0.5882
6"" Fill             384  0.6695  0.2918  0.0149     0.6402    0.6988
No Fill No Cut       384  0.6603  0.2807  0.0143     0.6322    0.6885

### 1 way ANOVA for Zone_identification

# 1 way ANOVA tests effect of 1 independent variable on 1 dependant variable 
H0: The mean value of NAVI is same across different Zone_Identification levels or there is no significant effect of Zone_Identification on the mean of NAVI
Ha: The mean value of NAVI is not same across different Zone_Identification levels or there is significant effect of Zone_Identification level on the mean of NAVI

## ONE-WAY ANOVA USING SCIPY.STATS

In [27]:
import scipy.stats as sts

one_way=sts.f_oneway(data['NAVI'][data['Zone_Identification']=='12"" Cut'],
             data['NAVI'][data['Zone_Identification']=='12"" Fill'],
             data['NAVI'][data['Zone_Identification']=='6"" Cut'],
             data['NAVI'][data['Zone_Identification']=='6"" Fill'],
             data['NAVI'][data['Zone_Identification']=='No Fill No Cut'])

print('for NAVI:' ,one_way)

for NAVI: F_onewayResult(statistic=31.21244983125918, pvalue=3.2479906079112606e-25)

## Interpretation of 1 way ANOVA for NAVI at different Zone_levels

Since pvalue (3.24) is way higher than critical value (α=0.05), I rejected the null hypothesis of equal NAVI means and conclude that there is a (statistically) significant difference among the NAVI values with different Zone_Identification levels.

In [31]:
rp.summary_cont(data['NDWI'])
rp.summary_cont(data['NDWI'].groupby(data['Zone_Identification']))

                       N    Mean      SD      SE  95% Conf.  Interval
Zone_Identification
12"" Cut             384 -0.3845  0.1970  0.0101    -0.4043   -0.3648
12"" Fill            384 -0.5407  0.2445  0.0125    -0.5653   -0.5162
6"" Cut              384 -0.4591  0.2575  0.0131    -0.4849   -0.4333
6"" Fill             384 -0.5488  0.2431  0.0124    -0.5732   -0.5244
No Fill No Cut       384 -0.5342  0.2348  0.0120    -0.5578   -0.5106

In [32]:
import scipy.stats as sts

one_way=sts.f_oneway(data['NDWI'][data['Zone_Identification']=='12"" Cut'],
             data['NDWI'][data['Zone_Identification']=='12"" Fill'],
             data['NDWI'][data['Zone_Identification']=='6"" Cut'],
             data['NDWI'][data['Zone_Identification']=='6"" Fill'],
             data['NDWI'][data['Zone_Identification']=='No Fill No Cut'])

print('for NDWI:' ,one_way)

for NDWI: F_onewayResult(statistic=34.40100576270723, pvalue=9.09029140782556e-28)

In [ ]:
### 1 way ANOVA for NAVI

# 1 way ANOVA tests effect of 1 independent variable on 1 dependant variable 
H0: The mean value of NAVI is same across different Cover_Crop_Variety or there is no significant effect of Cover_Crop_Variety on the mean of NAVI
Ha: The mean value of NAVI is not same across different Cover_Crop_Varieties or there is significant effect of Cover_Crop_Variety on the mean of NAVI

In [33]:
rp.summary_cont(data['NDWI'])
rp.summary_cont(data['NDWI'].groupby(data['Cover_Crop_Variety']))

,N,Mean,SD,SE,95% Conf.,Interval
Cover_Crop_Variety,,,,,,
Black Oat (BO),320,-0.4818,0.2468,0.0138,-0.5089,-0.4546
Cereal Rye (CR),320,-0.5026,0.2419,0.0135,-0.5292,-0.4760
Cereal Rye+ Black Oat+ Triticale (CR+BO+TR),320,-0.5014,0.2396,0.0134,-0.5277,-0.4750
Cereal Rye+ Crimson Clover+ Kale (CR+CC+KA),320,-0.4968,0.2382,0.0133,-0.5230,-0.4706
NC,320,-0.4770,0.2591,0.0145,-0.5055,-0.4486
Triticale (TR),320,-0.5012,0.2404,0.0134,-0.5277,-0.4748

In [35]:
import scipy.stats as sts

one_way=sts.f_oneway(data['NDWI'][data['Cover_Crop_Variety']=='Black Oat (BO)'],
             data['NDWI'][data['Cover_Crop_Variety']=='Cereal Rye (CR)'],
             data['NDWI'][data['Cover_Crop_Variety']=='Cereal Rye+ Black Oat+ Triticale (CR+BO+TR)'],
             data['NDWI'][data['Cover_Crop_Variety']=='Cereal Rye+ Crimson Clover+ Kale (CR+CC+KA)'],
             data['NDWI'][data['Cover_Crop_Variety']=='NC'],
             data['NDWI'][data['Cover_Crop_Variety']=='Triticale (TR)'])

print('for NDWI:' ,one_way)

for NDWI: F_onewayResult(statistic=0.6666747734354045, pvalue=0.6487805490363456)

## TWO-way ANOVA
- Use a two-way ANOVA when you want to know how two independent variables, in combination, affect a dependent variable.

Here, i am using two-way ANOVA to find out if Cover_Crop_Variety and Zone_Identification have an effect on average values of different vegetative indices

1) Null hypothesis (H0):
There is no difference in veg indices/NDWI for any Cover_Crop_Variety.
There is no difference in veg indices/NDWI for any Zone_Identification.
The effect of Cover_Crop_Variety on average veg indices/NDWI does not depend on the effect of the  Zone_Identificatio (a.k.a. no interaction effect).

2) Alternate hypothesis (Ha)
There is a difference in average veg indices by Cover_Crop_Variety.
There is a difference in veg indices for any Zone_Identification.
There is an interaction effect between Cover_Crop_Variety and Zone_Identification on average veg indices/NDWI.

In [44]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

#perform two-way ANOVA
model = ols('NDWI ~ C(Cover_Crop_Variety) + C(Zone_Identification) + C(Cover_Crop_Variety):C(Zone_Identification)', data=data).fit()
print('for NDWI:')
sm.stats.anova_lm(model, typ=2)

for NDWI:

,sum_sq,df,F,PR(>F)
C(Cover_Crop_Variety),0.199174,5.0,0.706087,6.188625e-01
C(Zone_Identification),7.680207,4.0,34.033576,1.838424e-27
C(Cover_Crop_Variety):C(Zone_Identification),0.057311,20.0,0.050793,1.000000e+00
Residual,106.626991,1890.0,NaN,NaN

In [ ]:
# Interpretation of two-way ANOVA

From this output, since all p-values are higher than critical value (α=0.05), I rejected the null hypothesis.
conclude that there is a (statistically) significant difference among the NDWI values with different Zone_Identification levels, Cover_crop_variety.

#### TWO way ANOVA tells which parameters are significant, but not which levels are actually different from one another. 
To test this, Tukey’s Honestly-Significant-Difference (TukeyHSD) test lets us see which groups are different from one another.